{# templates/registration/confirmation_email.html.twig #}
<style>
    .sucesso {
        background: #23bf5d;
        border-radius: 15px;
        padding: 2px 3px 2px 3px;
    }
</style>
<div style="background-color: #EAECEE; width: 100%; min-height: 100%">
    <div style="padding-top: 1px; margin-left: auto; margin-right: auto; width: 640px; text-align: center">
        <h1 style="font-family: Ubuntu, Verdana; font-size: 20pt; color: #ABB2B9;">Bolão da família</h1>
    </div>
    <div style="margin-left: auto; margin-right: auto; width: 640px; background-color: #FFFFFF; border-radius: 25px;">
        <div>
            <img width="640" height="200" alt="🍀" src="{{ email.image('@images/confirmationEmail/cabecalho.png') }}" style="border-radius: 25px 25px 0px 0px;">
        </div>
        <div style="margin-left: 30px; margin-right: 30px; padding-bottom: 20px; font-family: Ubuntu, Verdana">
            <h1 style="font-size: 16pt; margin-top: 30px; margin-bottom: 30px;">{{ bolao.nome }}</h1>
            <h2 style="font-size: 14pt; margin-top: 30px; margin-bottom: 30px;">Loteria: {{ bolao.concurso.loteria.nome }}</h2>
            <h3 style="font-size: 12pt; margin-top: 30px; margin-bottom: 30px;">Concurso: {{ bolao.concurso.numero }} - {{ bolao.concurso.dezena|join(', ') }}</h3>
            {% if bolao.comprovanteAposta %}
                <p>
                    <strong>Comprovante da aposta:</strong> 
                    <a href="{{ url('app_download_bolao_comprovante', {'id': bolao.id}) }}" target="_blank" style="font-size: 10pt; margin-top: 30px; margin-bottom: 30px;">
                        download
                    </a>
                </p>
            {% endif %}

            {% for resultado in resultados %}
                <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px; border-bottom: 1px solid #ABB2B9;">
                    <div>
                        Acertos: {{ resultado.acerto }} 
                    </div>
                    <div class="text-align: center;"> 
                        {{ resultado.dezena|join(', ')|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="margin-top: 20px; height: 50px; text-align: center;">
        <a style="font-family: Ubuntu, Verdana; color: #ABB2B9;" href="{{ url('app_home') }}">🍀️ Visite site o Bolão da família 🍀</a>
    </div>
</div>