{# bolao/apostador/_form.html.twig #}
{{ form_errors(form) }}
<div class="row">
    <div class="col-12 col-lg-6">
        {{ form_row(form.nome) }}
    </div>
    <div class="col-12 col-lg-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-12 col-lg-6">
        {{ form_row(form.celular) }}
    </div>
    <div class="col-12 col-lg-3">
        {{ form_row(form.isPago) }}
    </div>
    <div class="col-12 col-lg-3">
        {{ form_row(form.quantidadeCota) }}
    </div>
    <div class="col-12">
        <div class="row">
            {% if apostador.comprovante %}
                <div class="col-12 col-lg-10 col-md-9">
            {% else %}
                <div class="col-12">
            {% endif %}
                {{ form_row(form.comprovante) }}
            </div>
            {% if apostador.comprovante %}
                <div class="col-12 col-lg-2 col-md-3">
                    <div class="mb-3 d-grid">
                        <label for="comprovante" class="form-label">Comprovante</label>
                        <a id="comprovante" href="{{ path('app_bolao_apostador_download', {'id': app.request.get('id')}) }}" class="btn btn-secondary shadown-sm">
                            <i class="bi bi-file-arrow-down"></i> Download
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
